/******************************
	[ TABLE OF CONTENTS ]
		1- Fonts
		2- General styles
		3- Header 
		4- Home
		5- Website body
			5-1- Aside section
			5-2- Main section
				5-2-1- Recommended Movies
						* Fantasy
						* Action
				5-2-2- New Movies
				5-2-3- Coming Soon Movies
		6- Footer
		7- Shared styles
******************************/


/******************************
 1- Fonts
*******************************/
@font-face {
    font-family: futura_ltbold;
    src: url("../fonts/futuralt-bold-webfont.svg");
    src: url("../fonts/futuralt-bold-webfont.eot");
    src: url("../fonts/futuralt-bold-webfont.ttf");
    src: url("../fonts/futuralt-bold-webfont.woff");
}

@font-face {
    font-family: futura_ltbook;
    src: url("../fonts/futuralt-book-webfont.svg");
    src: url("../fonts/futuralt-book-webfont.eot");
    src: url("../fonts/futuralt-book-webfont.ttf");
    src: url("../fonts/futuralt-book-webfont.woff");
}


/******************************
 2- General styles
*******************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: futura_ltbook, sans-serif, 'Droid sans';
}

body {
    background-color: #1A191F;
    width: 1300px !important;
    color: #fff;
}

.container {
    width: 1200px;
    margin: auto;
}

.container-aside {
    width: 90%;
}

h1, h2, h3 {
    font-family: futura_ltbold, sans-serif, 'Droid sans';
}

.clearfix {
    clear: both;
}

.main-color {
    color: #E7A417 !important;
}

.main-bg {
    background-color: #E7A417;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    border: none;
    outline: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}


/******************************
 3- Header 
*******************************/
header {
    -webkit-background: linear-gradient(to bottom, #1A191F 10%, transparent 90%);
    background: linear-gradient(to bottom, #1A191F 10%, transparent 90%);
    padding: 20px 0;
    height: 43px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}

header .logo {
    float: left;
    width: 25%;
    font-size: 35px;
    font-family: futura_ltbold, sans-serif, 'Droid sans';
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
    float: right;
    width: 75%;
    padding-top: 8px;
}

nav .navbar-links {
    float: left;
    width: 65%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-links li a {
    color: #aaa;
    font-size: 22px;
}

.navbar-links li:hover a, .navbar-links li.active a {
    color: #E7A417;
}

nav .navbar-sign {
    float: right;
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.navbar-sign .sign {
    width: 110px;
    height: 30px;
    line-height: 23px;
    text-align: center;
    margin-top: 2px;
    border: 2px solid #E7A417;
    border-radius: 50px;
    -webkit-background: linear-gradient(to left, #E7A417, #090500);
    background: linear-gradient(to left, #E7A417, #EB920D);
}

.navbar-sign .sign:first-of-type {
    margin-right: 25px;
}

.navbar-sign .sign a {
    color: #1A191F;
    font-size: 18px;
}

.navbar-sign .sign:hover {
    background: transparent;
}

.navbar-sign .sign:hover a {
    color: #E7A417;
}


/******************************
 4- Home
*******************************/
.home {
    background-image: url('../images/home/hobbit.jpg');
    background-size: cover;
    height: 720px;
    display: flex;
    position: relative;
    width: 103.7%;
}

.home .home-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -40px;
    left: 0;
    background: linear-gradient(to top, #1A191F 2%, transparent 98%);
}

.home .home-movie {
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 25%;
}

.home-movie h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

.home-movie p {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
    color: #bbb;
}

.home-movie .hobbit-stars {
    list-style-type: none;
    margin-bottom: 25px;
}

.home-movie .hobbit-stars li {
    display: inline-block;
}

.home-movie .hobbit-stars li .fa {
    font-size: 22px;
    color: #ffd700;
}

.home-movie span {
    display: inline-block;
    border: 2px solid #E7A417;
    font-size: 20px;
}

.home-movie span:first-of-type {
    padding: 9px;
    border-radius: 50%;
    margin-right: 20px;
}

.home-movie span:last-of-type {
    padding: 7px 45px;
    border-radius: 30px;
    color: #fff;
    -webkit-background: linear-gradient(to left, #E7A417, #EB920D);
    background: linear-gradient(to left, #E7A417, #EB920D);
}

.home-movie span:last-of-type .fa {
    margin-right: 10px;
    color: #fff;
}

.home-movie span:last-of-type:hover {
    background: transparent;
    color: #E7A417;
}

.home-movie span:last-of-type:hover .fa {
    color: #E7A417;
}

.home .slide-arrows {
    position: absolute;
    right: 0;
    bottom: 110px;
}

.slide-arrows .fa {
    font-size: 75px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.75;
}

.slide-arrows .fa:first-of-type {
    margin-right: 10px;
}


/******************************
 5- Website body 
*******************************/
.website-body {
    padding: 80px 0 0;
}

.website-body .aside-section {
    float: left;
    width: 24%;
}

.website-body .main-section {
    float: right;
    width: 75%;
    position: relative;
    padding-bottom: 80px;
}

/*** 5-1 Aside section ***/
.aside-section .categories {
    height: 1185px;
    width: 100%;
    background-color: #23222b;
}

.categories ul {
    list-style-type: none;
}

.categories ul li {
    padding: 10px 10px 10px 25px;
    font-size: 23px;
    color: #6f6f6f;
    cursor: pointer;
}

.categories ul li:hover {
    color: #eee;
}

.categories ul li:first-of-type {
    font-size: 28px;
    font-weight: bold;
    padding: 23px;
    margin-bottom: 30px;
    color: #454545;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-background: linear-gradient(to left, #E7A417, #EB920D);
    background: linear-gradient(to left, #E7A417, #EB920D);
}

.aside-section .aside-movie {
    margin-top: 65px;
}

.aside-movie .aside-img {
    height: 360px;
    width: 100%;
    position: relative;
}

.aside-movie .about-movie {
    margin-top: 50px;
}

.about-movie h3 {
    color: #bbb;
    font-size: 20px;
    letter-spacing: 1px;
}

.about-movie p {
    color: #999;
    margin: 20px 0 40px;
    font-size: 18px;
    line-height: 1.5;
}

.about-movie .rm {
    padding: 5px 10px;
    background-color: #E7A417;
    width: 50%;
    color: #333;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #E7A417;
}

.about-movie .rm:hover {
    background-color: transparent;
    color: #E7A417;
}


/*** 5-2 Main section ***/

/** 5-2-1 Recommended Movies **/
.main-section input {
    width: 100%;
    padding: 10px 15px;
    font-size: 25px;
    color: #eee;
    background-color: transparent;
    border: 2px solid #888;
    border-radius: 15px;
}

.main-section .fa-search {
    position: absolute;
    right: 18px;;
    top: 16px;
    font-size: 25px;
    color: #aaa;
}

.main-section .movies {
    margin-top: 90px;
}

.movies-head {
    display: flex;
    justify-content: space-between;
    padding: 3px 0 3px 15px;
    border-left: 6px solid #E7A417;
}

.movies-head span {
    color: #ccc;
    font-size: 22px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
}

.movies-head .view-all {
    font-size: 25px;
    color: #999;
    margin-top: -5px;
}

.view-all .fa {
    font-size: 40px;
    margin-left: 8px;
    position: relative;
    bottom: -3px;
}

/* Fantasy Movies */
.fantasy-movies {
    margin-top: 95px;
}

.fantasy-movies .fantasy-1 {
    width: 57.5%;
    float: left;
    background-color: #23222b;
    height: 320px;
    position: relative;
    border: 2px solid #444;
}

.fantasy-1 .movie-img {
    position: absolute;
    top: -40px;
    left: 25px;
    height: 310px;
    width: 240px;
    background-color: #f37059;
}

.fantasy-1 .sub-fantasy-1 {
    position: absolute;
    top: 0;
    right: 5px;
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-fantasy-1 .sub-first {
    display: flex;
    justify-content: space-between;
}

.sub-first .sub-first-1 {
    width: 50%;
}

.sub-first .sub-first-1 span {
    display: block;
    margin: 10px auto 5px auto;
    width: 50px;
    font-weight: bold;
}

.sub-first .sub-first-1 p {
    font-size: 15px;
    color: #EFEFEF;
    font-weight: bold;
}

.sub-first .sub-first-2 p {
    margin: 5px auto;
    width: 50px;
    font-weight: bold;
    font-size: 25px;
}

.sub-first .sub-first-2 .big-txt {
    font-size: 35px;
}

.sub-first .sub-first-2 .stars {
    display: block;
    margin-right: 10px;
}

.sub-first .sub-first-2 span .fa {
    color: #ffd700;
    font-size: 15px;
}

.sub-second p {
    color: #ddd;
    font-size: 15px;
    padding-right: 15px;
}

.sub-third span {
    background-color: #555;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 8px;
}

.sub-fourth {
    display: flex;
    justify-content: flex-end;
}

.sub-fourth .more {
    background-color: #E7A417;
    padding: 5px 15px;
    color: #1A191F;
    border-radius: 20px;
    font-size: 14px;
    margin: 0 10px 15px 0;
}

.fantasy-movies .fantasy-2 {
    width: 40%;
    float: right;
    height: 320px;
}

.fantasy-2 .sub-fantasy-2:first-of-type {
    width: 47%;
    float: left;
    height: 100%;
    position: relative;
}

.fantasy-2 .sub-fantasy-2:last-of-type {
    width: 47%;
    float: right;
    height: 100%;
    position: relative;
}

.sub-fantasy-2 .fantasy-2-layer {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 55;
    -webkit-background: linear-gradient(to top, #E7A417 2%, transparent 98%);
    background: linear-gradient(to top, #E7A417 2%, transparent 98%);
}

.sub-fantasy-2 .fantasy-2-img {
    width: 100%;
    height: 70%;
    position: relative;
    z-index: 5;
}

.sub-fantasy-2 .fantasy-2-content {
    position: relative;
    z-index: 555;
}

.fantasy-2-content p {
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #ddd;
}

.fantasy-2-content p .fa {
    color: #ffd700;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.fantasy-2-content p .big-txt {
    font-size: 30px;
}

.fantasy-2-content .more-d {
    text-align: center;
}


/* Action Movies */
.movies .movies-body {
    margin-top: 50px;
    position: relative;
}

.movies-body .fa-angle-left {
    position: absolute;
    left: 0;
    top: 180px;
    font-size: 35px;
    color: #bbb;
    cursor: pointer;
}

.movies-body .movies {
    width: 90%;
    margin: auto;
}

.movies-body .fa-angle-right {
    position: absolute;
    right: 0;
    top: 180px;
    font-size: 35px;
    color: #bbb;
    cursor: pointer;
}

.movies-body .movie {
    width: 33.33333333333333%;
    height: 350px;
    border-radius: 30px;
    text-align: center;
    background-color: #555;
    position: relative;
    overflow: hidden;
    border: 2px solid #444;
}

.movie .movie-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    z-index: 5;
    -webkit-background: linear-gradient(to top, #1A191F 2%, transparent 98%);
    background: linear-gradient(to top, #1A191F 2%, transparent 98%);
}

.movie:hover img {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}

.movie .movie-content {
    width: 200px;
    z-index: 55;
    position: absolute;
    top: 240px;
    left: 38px;
    color: #fff;
}

.movie-content h3 {
    color: #ddd;
    letter-spacing: 2px;
}

.movie-content p {
    color: #888;
    font-size: 14px;
}

.movie-content .fa-star {
    color: #ffd700;
    margin: 5px 10px 10px 0;
}

.movies-body .movie:first-of-type {
    float: left;
    margin-top: 24px;
}

.movies-body .movie:nth-of-type(2) {
    float: right;
    margin-top: 24px;
}

.movies-body .movie:last-of-type {
    position: absolute;
    top: 0;
    left: 280px;
    width: 38%;
    height: 400px;
    -webkit-box-shadow: 0 0 6px 2px #444;
    box-shadow: 0 0 6px 2px #444;
    z-index: 555;
}

.movie:last-of-type .movie-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    z-index: 5;
    opacity: 0.8;
    -webkit-background: linear-gradient(to top, #E7A417 2%, transparent 98%);
    background: linear-gradient(to top, #E7A417 2%, transparent 98%);
}

.movie:last-of-type .movie-content {
    width: 250px;
    left: 55px;
}

.movie:last-of-type .movie-content .fa-star {
    font-size: 22px;
}

.movie:last-of-type .movie-content span {
    font-size: 22px;
    color: #222;
    font-weight: bold;
}

.movie:last-of-type .movie-content h3 {
    color: #404040;
    font-size: 30px;
}

.movie:last-of-type .movie-content p {
    color: #222;
    font-size: 20px;
    line-height: 1.2;
}

/** 5-2-2 New Movies **/
.new-movies {
    margin-top: 90px;
}

.new-movies .new-movies-body {
    margin-top: 80px;
}

.new-movies-body .new-movie {
    float: left;
    width: 65%;
    height: 465px;
    position: relative;
    border: 2px solid #333;
}

.new-movies-body .new-movie-info {
    float: right;
    width: 30%;
}

.new-movie .new-movie-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    -webkit-background: linear-gradient(to top, #1A191F 2%, transparent 98%);
    background: linear-gradient(to top, #1A191F 2%, transparent 98%);
}

.new-movie:hover .new-movie-layer {
    opacity: 0.7;
    -webkit-background: linear-gradient(to top, #E7A417 2%, transparent 98%);
    background: linear-gradient(to top, #E7A417 2%, transparent 98%);
}

.new-movie-info .movie-info-head {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #555;
}

.new-movie .new-movie-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0;
}

.new-movie-content .content-first, .new-movie-content .content-fourth {
    display: flex;
    justify-content: space-between;
}

.new-movie-content .content-second {
    display: flex;
    justify-content: center;
}

.new-movie-content .content-third {
    width: 88%;
    margin: 0 auto;
    padding-right: 70px;
    color: #ddd;
}

.content-first .date {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #eee;
    background-color: #E7A417;
    border-radius: 0 30px 30px 0;
}

.content-first .grade {
    padding: 10px 15px 0 0;
    font-size: 18px;
}

.content-first .grade .fa-star {
    font-size: 22px;
    color: #ffd700;
    margin-right: 10px;
}

.content-second .play {
    width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    border: 3px solid #E7A417;
    border-radius: 50%;
    background-color: transparent;
}

.content-second .play .fa-play {
    font-size: 30px;
    color: #E7A417;
    margin-left: 5px;
}

.content-third p {
    margin-bottom: 15px;
}

.content-third .fa {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    color: #ddd;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-right: 15px;
    background-color: transparent;
}

.content-fourth .more-info .read-m {
    display: inline-block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    color: #eee;
    background-color: #E7A417;
    border-radius: 0 30px 30px 0;
    margin-right: 10px;
}

.content-fourth .more-info .description {
    font-size: 16px;
    color: #ddd;
}

.content-fourth .similar {
    width: 150px;
    height: 45px;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    color: #ddd;
    background-color: transparent;
    border-radius: 30px 0 0 30px;
    border: 3px solid #555;
    border-right: none;
}

.new-movie:hover .content-fourth .similar {
    border-color: #bbb;
}

.movie-info-head .info-movie h3, .movie-info-head .info-movie p {
    color: #aaa;
}

.movie-info-head .info-arrows .fa {
    font-size: 30px;
    margin-left: 5px;
}

.new-movie-info .movie-info {
    width: 100%;
    height: 95px;
    border-right: 3px solid #666;
    padding: 15px 10px 0 0;
}

.movie-info .info-img {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.info-img .info-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    -webkit-background: linear-gradient(to top, #E7A417 2%, transparent 98%);
    background: linear-gradient(to top, #E7A417 2%, transparent 98%);
}


.movie-info .info {
    width: 64%;
    height: 100%;
    float: right;
}

.info p {
    font-size: 12.5px;
    color: #eee;
}

.info > span {
    font-size: 13px;
    color: #ba8512;
}

.info .info-data {
    display: flex;
    justify-content: space-between;
}

.info .info-data > span {
    font-size: 13px;
    color: #eee;
}

.new-movie-info .movie-info:nth-of-type(2) {
    border-right: 5px solid #E7A417;
}

.movie-info:nth-of-type(2) .info p {
    color: #ba8512;
}

/** 5-2-3 Coming Soon Movies **/
.comming-soon {
    margin-top: 90px;
}

.comming-soon .coming-body {
    margin-top: 75px;
}

.coming-body .coming-info {
    width: 50%;
    float: left;
    padding-right: 20px;
}

.coming-info .heading .catag {
    margin-top: 0;
    font-size: 20px;
}

.coming-info .heading .display {
    font-size: 30px;
    margin: 5px 0 10px;
}

.coming-info .heading .movie-stars {
    margin-right: 10px;
}

.coming-info .heading .movie-stars .fa {
    color: #ffd700;
    font-size: 18px;
}

.coming-info .heading .show-date {
    color: #ddd;
}

.coming-info .heading .show-date .fa {
    font-size: 18px;
    margin-right: 5px;
    color: #ddd;
}

.coming-info p {
    margin: 25px 0 10px;
    font-size: 20px;
    color: #ddd;
}

.coming-body .coming-movie {
    width: 50%;
    height: 300px;
    float: right;
    position: relative;
    border: 2px solid #333;
}

.coming-movie .coming-movie-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background: radial-gradient(transparent, #1A191F);
    background: radial-gradient(transparent, #1A191F);
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-movie-layer .fa {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    font-size: 30px;
    padding-left: 5px;
}


/******************************
 6- Footer 
*******************************/
footer {
    width: 100%;
    height: 300px;
}

footer .container {
    border-top: 4px solid #555;
    height: 100%;
}

footer .website-info {
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-info .website {
    width: 50%;
}

.website-info .website h2 {
    letter-spacing: 3px;
}

.website-info .website p {
    color: #aaa;
    margin: 10px 0 30px;
    font-size: 17px;
}

.website-info .website input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 6px;
    background-color: transparent;
    color: #ddd;
    border-color: #999;
    outline: none;
}

.website-info .newsletter {
    width: 35%;
}

.newsletter h3 {
    letter-spacing: 3px;
    position: relative;
    color: #ddd;
    margin-bottom: 15px;
    font-size: 17px;
}

.newsletter ul {
    list-style-type: none;
}

.newsletter ul li {
    color: #aaa;
    margin-top: 5px;
}

footer .social {
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social .location {
    width: 60%;
    height: 130px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #555;
}

.location .map {
    width: 40%;
    height: 100%;
}

.location .map-info {
    width: 55%;
    height: 100%;
}

.location .map-info span {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}

.location .map-info p {
    font-size: 13px;
    color: #ddd;
}

.social .follow-us {
    width: 35%;
}

.follow-us .follow {
    width: 100%;
    padding: 5px 6px;
    border: 2px solid #444;
    font-size: 13px;
    color: #aaa;
}

.follow-us .follow:first-of-type {
    margin-bottom: 10px;
}

.follow-us .follow .fa {
    font-size: 16px;
    margin-right: 5px;
    color: #aaa;
}

.follow-us .social-icons {
    margin-top: 20px;
    text-align: center;
}


.follow-us .social-icons .fa {
    width: 39px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 17px;
    margin-left: 5px;
}

.social-icons .fa:first-of-type {
    margin-left: 0;
    background-color: #355D8D;
}

.social-icons .fa:nth-of-type(2) {
    background-color: #55AAE4;
}

.social-icons .fa:last-of-type {
    background-color: #CC4A3C;
}


/******************************
 7- Shared styles
*******************************/
a, .sign, .home-movie span:last-of-type, .home-movie span:last-of-type .fa, .movie img, .categories ul li, .about-movie .rm {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} 